:root {
    --base-grid: 8px;
    --colour-white: #fff;
    --colour-black: #1a1a1a;
  }
  
  *, :after, :before {
      box-sizing: border-box;
  }
  
  body {
    /* background-image: linear-gradient(270deg,#2b67ac 3px,transparent 0),linear-gradient(#2b67ac 3px,transparent 0),linear-gradient(270deg,rgba(43,103,172,.4) 1px,transparent 0),linear-gradient(#2b67ac 1px,transparent 0),linear-gradient(270deg,rgba(43,103,172,.4) 1px,transparent 0),linear-gradient(#2b67ac 1px,transparent 0); */
    /* background-size: 112px 112px,112px 112px,56px 56px,56px 56px,28px 28px,28px 28px; */
    font-family: Josefin Sans, sans-serif;
      margin: 0;
    padding: 0;
  }

.contenedorTiger{
    /* max-width: 600px; */
    margin: 0 auto;
    position: absolute;
    top: 250px;
  }

  .tiger{
    float: left;
    margin: 0 15px 15px 0;
    width: 300px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
  }

  
  .links {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #d5d807, #00A9E0);
    /* background-image: linear-gradient(-170deg,#064997 20%,#105ba7); */
    background-position: 100%;
    --link-size: calc(var(--base-grid)*20);
    color: var(--colour-black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  
  .links__list {
    position: relative;
    list-style: none;
  }
  
  .links__item {
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(var(--link-size)/-2);
    margin-left: calc(var(--link-size)/-2);
    --angle: calc(360deg/var(--item-total));
    --rotation: calc(140deg + var(--angle)*var(--item-count));
    transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*2)) rotate(calc(var(--rotation)*-1));
  }
  
  .links__link {
    opacity: 0;
    animation: on-load .3s ease-in-out forwards;
    animation-delay: calc(var(--item-count)*150ms);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background-color: var(--colour-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .links__icon {
    width: calc(var(--base-grid)*8);
    height: calc(var(--base-grid)*8);
    transition: all .3s ease-in-out;
    fill: var(--colour-black);
  }
  
  .links__text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: calc(var(--base-grid)*2);
    font-size: calc(var(--base-grid)*2);
    display: none;
    bottom: calc(var(--base-grid)*8.5);
    animation: text .3s ease-in-out forwards;
  }
  
  .links__link:after {
    content: "";
    background-color: transparent;
    width: var(--link-size);
    height: var(--link-size);
    border: 2px dashed var(--colour-white);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s cubic-bezier(.53,-.67,.73,.74);
    transform: none;
    opacity: 0;
  }
  
  .links__link:hover .links__icon {
    transition: all .3s ease-in-out;
    transform: translateY(calc(var(--base-grid)*-1));
  }
  
  .links__link:hover .links__text {
    display: block;
  }
  
  .links__link:hover:after {
    transition: all .3s cubic-bezier(.37,.74,.15,1.65);
    transform: scale(1.1);
    opacity: 1;
  }
  
  @keyframes on-load {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    70% {
      opacity: .7;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes text {
    0% {
      opacity: 0;
      transform: scale(0.3) translateY(0);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(calc(var(--base-grid)*5));
    }
  }
  .imagen-fondo, .imagen-fondo1{
    background-color: #eaf6fc;
    background-image: url("./carro1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .imagen-fondo1{
    background-image: url(./camioneta1.jpg);
  }
  .imagen-fondo2{
    background-image: url(./seguridad1.jpg);
  }
  /* Estilo del contenedor de navegación */
  .nav {
    max-width: 1200px;
    /* Ancho máximo para centrar */
    width: 100%;
    /* Ancho completo en pantallas pequeñas */
  }
  
  /* Estilo de la lista de navegación */

  /* Estilo de los enlaces */
  .nav-link {
    text-decoration: none;
    /* Quitar subrayado */
    color: #61dafb;
    /* Azul claro */
    font-size: 1.2rem;
    /* Tamaño de texto */
    font-weight: bold;
    /* Texto en negrita */
    transition: color 0.3s ease;
    /* Animación suave */
  }
  
  /* Hover en los enlaces */
  .nav-link:hover {
    color: #ffffff;
    /* Cambiar a blanco al pasar el cursor */
  }
  
  /* Activo (puedes personalizar esto según tus rutas activas) */
  .nav-link-active {
    color: #ffffff;
    /* Blanco para el enlace activo */
    border-bottom: 2px solid #61dafb;
    /* Subrayado decorativo */
  }